# Ignore everything
*

# But not these files...
!.env
!.gitignore
!configs/airflow.cfg
!docker-compose.yml
!README.md
!LICENSE

# Python
!__init__.py
!dags/*.py

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
# !*/include/*.h
